
body{
    width: 1440px;
    margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* nav style  */
.navber {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
     gap: 30px;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
}

/* banner section   */
.banner h3{
    color: rgba(19, 19, 19, 1);
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.banner{
    margin: 0 auto;
}

.banner p{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0px 10px;
}

.btn{
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.center{
    text-align: center;
}

.banner img{
    width: 100%;
    align-items: center;
    margin-bottom: 130px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* quick section  */
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features{
    display: flex;
    align-items: center;
}

.quick h3{
    font-size: 45px;
    font-weight: 400;
}
span{
    color: #FF900E;
}

.a{
    color: #727272;
}

.quick p{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0 32px 0;
}

.quick{
    margin-left: 70px;
}

/* Some Facts  */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}


































/* responsive media query */
@media screen and ( max-width: 576px) {
.navber, .nav-links{
    flex-direction: column;
}
.features-img{
    grid-template-columns: repeat(1, 1fr);
}
}
