body {
    /* width: 1200px; */
    margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.width {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    /* max-width: 1440px; */
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* nav style  */
.navber {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    gap: 30px;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

/* banner section   */
.banner h3 {
    color: rgba(19, 19, 19, 1);
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.banner {
    margin: 0 auto;
}

.banner p {
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0px 10px;
}

.btn {
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.center {
    text-align: center;
}

.banner img {
    width: 100%;
    align-items: center;
    margin-bottom: 130px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* quick section  */
.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 50%;
}

.features-img img {
    width: 100%;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick h3 {
    font-size: 45px;
    font-weight: 400;
}

.b {
    color: #FF900E;
}

.a {
    color: #727272;
}

.quick p {
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0 32px 0;
}

.quick {
    width: 50%;
}

/* features section  */

#feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features {
    gap: 146px;
}

.feature-card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.version {
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 10px 30px;
}

.features h3 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-card h4 {
    color: rgba(19, 19, 19, 1);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.feature-card,
.features p {
    color: rgba(114, 114, 114, 1);
    font-size: 14px;
    font-weight: 400;
}

.features-left {
    width: 50%;
}

.architect-img {
    width: 50%;
}

.architect-img img {
    width: 100%;
}

#badge {
    padding: 30px 25px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

/* Some Facts  */

.some h3 {
    color: black;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.some p {
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;

}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px; */
}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 0px;
    margin: 10px 20px;
}

.fact-number {
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 10px;
}

#span {
    font-size: 50px;
}

/* Our Sponsors  */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-info h3 {
    font-size: 45px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 24px;
}

.sponsor-info p {
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
}

.sponsor-companis {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.sponsor-companis img {
    filter: grayscale(100%);
}

footer {
    background-color: rgba(255, 244, 231, 1);
    border-radius: 8px;
}

footer h6 {
    color: rgba(66, 66, 66, 1);
    font-size: 20px;
    font-weight: 400;
    padding: 39px 210px;
    margin-top: 130px;
}





























/* responsive media query */
@media screen and (max-width: 576px) {

    .navber,
    .nav-links {
        flex-direction: column;
    }

    .features-img,
    .facts-container {
        grid-template-columns: repeat(1, 1fr);
    }
}